#left div.white, #left .yellow, div.orange, #body #cube #left div#yellow  {
    background-color: blue!important;
}

.top#top, div.green, #top div.orange, #cube #top div.red, #top.top div#green, #orange, .orange, html body#body div#cube.cube div#top.face.top div#orange.orange.orange, div#blue, div#top.top div.white, div#cube div#top.top div.red,#top.top div.green {
    background-color: yellow!important;
}

#right.right div.white, div#cube.cube div#right.right div.blue, div.green, div#right.right div.white#white {
    background-color: red!important;
}

